<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__logo"><a href="/" class="logo__btn">KrasnodarOnline</a></div>
        <div class="header__nav">
            <nav>
                <a href="/weather" class="nav__btn">Температура сейчас</a>
            </nav>
        </div>
    </header>
    <section class="intro">
        <div class="intro__content">
            <h1>Самый лучший сайт!</h1>
            <h1>Для просмотра температуры!</h1>
            <h2>Сайт скоро выйдет на новый уровень</h2>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__elm"></div>
        <div class="footer__content">
            <p>При помощи Weather API - visualcrossing</p>
            <p>By Ckutls</p>
        </div>
    </footer>
</body>
</html>